<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[{country_name}] Problème commande eBay dans PrestaShop</title>
</head>
<body>
	<p>
		Bonjour,<br/><br/>
		Une commande a été passée sur votre boutique eBay ({order_ref})<br/><br/>
		Cependant cette commande a pour pays de livraison : <strong>{country_name}</strong>,<br/><br/>
		Ce pays n'étant pas activer, elle ne peut être importé sur Prestashop.<br/><br/>
		Veuillez activer ce pays pour que la commande soit importé.
		<br/><br/>
	</p>

<p style="width: 100%; text-align: center;"><a style="color: #db3484; font-weight: bold; text-decoration: none;" href="{shop_url}">{shop_name}</a> propuls&eacute; avec <a style="text-decoration: none; color: #374953;" href="http://www.prestashop.com/">PrestaShop&trade;</a></p>
</body>
</html>
