<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[{country_name}] eBay order problem in PrestaShop</title>
</head>
<body>
	<p>
		Hello,<br/><br/>
		An order was made on your eBay store. ({order_ref})<br/><br/>
		However, this order for delivery country is : <strong>{country_name}</strong>,<br/><br/>
		This country was not enabled in Prestashop, it can't be imported.<br/><br/>
		Please enable this country in Prestashop.
		<br/><br/>
	</p>

<p style="width: 100%; text-align: center;"><a style="color: #db3484; font-weight: bold; text-decoration: none;" href="{shop_url}">{shop_name}</a> powered by <a style="text-decoration: none; color: #374953;" href="http://www.prestashop.com/">PrestaShop&trade;</a></p>
</body>
</html>
